<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>397689703286-chaqctiqjfhbp9ei2g36vb6vravu89on.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.397689703286-chaqctiqjfhbp9ei2g36vb6vravu89on</string>
	<key>API_KEY</key>
	<string>AIzaSyAFCK_bu0s6mNS0CYrF6rkVLus-B3KAXZc</string>
	<key>GCM_SENDER_ID</key>
	<string>397689703286</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.windsurfing</string>
	<key>PROJECT_ID</key>
	<string>windsurfing-app-302e8</string>
	<key>STORAGE_BUCKET</key>
	<string>windsurfing-app-302e8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:397689703286:ios:eb67f6adf0a702c66a4857</string>
</dict>
</plist>